.home-page {
  .first-row {
    height: 20rem;
    display: flex;
    align-items: center;
  }

  ul li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    i {
      width: 2rem;
      font-size: 1rem;
    }
  }

  .half-section {
    width: 50%;
  }
}
