header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  .page-links a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
  }
  .social-links {
    a {
      margin-right: 1rem;
    }
    i#linked-in {
      color: #0e76a8;
    }

    i#bitbucket {
      color: #2684ff;
    }
  }
}
